<ion-view title="{{title}}">
  <ion-nav-buttons>
      <!--<a class="button button-clear ion-chevron-left" ng-click="goBack()"></a>-->
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="detail-data-list">
      <ion-item>
        <div class="row" style="margin-top: 1em;">
          <div class="col-30 "><span class="label-name">物料编号：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.materialSno||""}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">物料描述：</span></div>
          <p class="col-70"><span class="label-value">{{materialDetail.materialName}}</span></p>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">单位：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.unit}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">部套厂商：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.materialVendor}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">适用机型：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.machineModel}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">适用部套：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.materialSuite}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">分类：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.materialTypeText}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">是否停用：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.activeFlag==1?"是":'否'}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">替换物料：</span></div>
          <div class="col-70 "><span class="label-value">{{materialDetail.material_replace}}</span></div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-30 "><span class="label-name">备注：</span></div>
          <p class="col-70"><span class="label-value">{{materialDetail.comment}}</span></p>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col "><span class="label-name">图片：</span></div>
        </div>
        <div class="row row-wrap">
          <i class="col-25" ng-repeat="image in imgFiles track by $index">
            <img style="height: 70px;width: 70px;position: relative;margin: auto" id="{{image.fileId}}"
                 ng-src="{{image.filePath.indexOf('file://')>=0?image.filePath:'img/uploadimg.png'}}"
                 ng-click="downloadImage(image,$index)" alt="{{image.fileOriginalName}}"/>
          </i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
