<ion-view view-title="故障处理">
  <ion-content>
    <ion-list>
      <ion-item>
        <div style="float: left;">主题</div>
        <input type="text" ng-model="work.workorderTitle" style="float: right;height: 100%; text-align: right;"
               placeholder="请输入"/>
      </ion-item>
      <label class="item item-input">
	        	<textarea placeholder="故障现象详尽描述..." style="height: 5em;"
                      ng-model="work.faultDetailComment"></textarea>
      </label>
      <ion-item class="item-input item-select">
        <span class="input-label">故障原因</span>
        <select ng-model="work.faultCause"
                ng-options="faultCause as faultCause.detailName for faultCause in faultCauses"></select>
      </ion-item>
      <ion-item>
        <div style="float: left;">NCR号</div>
        <input type="text" ng-model="work.ncrNum" style="float: right;height: 100%; text-align: right;"
               placeholder="请输入"/>
      </ion-item>
      <label class="item item-input">
	        	<textarea placeholder="故障处理过程描述..." style="height: 5em;"
                      ng-model="work.faultHandleDesc"></textarea>
      </label>
      <ion-item>
        <div style="float: left;">累计停机时间</div>
        <input type="number" ng-model="work.shutdownTotalHour" style="float: right;height: 100%; text-align: right;"
               placeholder="请输入"/>
      </ion-item>
      <ion-item>
        <div class="row">
          <label class="col col-90">
            上传附件
          </label>
        </div>
        <div class="row row-wrap">
          <div class="col col-25 remove-attachment" ng-repeat="attachment in fileList">
            <div class="card" ng-click="addeditAttachment(attachment)">
              <img src="{{attachment.filePath}}" width="100%">
            </div>
            <span class="badge ion-close-circled" ng-click="removeAttachment(attachment)"></span>
          </div>
          <div class="col col-25 remove-attachment">
            <div class="card" ng-click="addeditAttachment()">
              <img src="img/uploadimg.png" width="100%">
            </div>
          </div>
        </div>
        <ion-item>
    </ion-list>
  </ion-content>
  <button class=" button button-eambule-block" ng-click="save(work)"><b>保存</b></button>
  </ion-footer-bar>
</ion-view>
