<ion-view title="{{title}}">
  <ion-header-bar class="bar-eamblue">
    <a class="button button-clear ion-chevron-left" ng-click="backButtonAction();"></a>
  </ion-header-bar>
	<ion-content  class="data-list">
    <ion-item class="item-input item-select" ng-if="isAssignFlag">
      <span class="input-label">人员：</span>
      <select ng-model="task.assignOwnerId" ng-options="people.userId as people.userName for people in peoples">
        <option value="">-- 选择人员 --</option>
      </select>
    </ion-item>

    <ion-item class="item-input item-select" ng-if="isAssignFlag">
      <span class="input-label">机位号：</span>
      <select ng-model="task.assignDeviceNoId" ng-options="machine.positionId as machine.positionName+'#' for machine in machineIds">
        <option value="">-- 选择机位号 --</option>
      </select>
    </ion-item>

    <!--<ion-item class="item" ng-model="defaultOwner" ng-if="isModifyFlag">-->
      <!--<p>当前人员：{{defaultOwner}}  {{task.assignOwner}}</p>-->
    <!--</ion-item>-->
    <!--<ion-item class="item" ng-model="defaultDeviceNo" ng-if="isModifyFlag">-->
      <!--<p>当前机位号：{{defaultDeviceNo}}#  {{task.assignDevieNo}}</p>-->
    <!--</ion-item>-->
    <!--<ion-item class="item" ng-if="isModifyFlag">-->
      <!--<p>修改为：{{task.assignOwnerId}} - {{task.assignDeviceNoId}}</p>-->
    <!--</ion-item>-->

    <ion-item class="item-input item-select" ng-if="isModifyFlag">
      <span class="input-label">修改人员为：</span>
      <select ng-model="task.assignOwnerId" ng-options="people.userId as people.userName for people in peoples">
        <!--<option>{{task.assignOwnerId}}</option>-->
      </select>
    </ion-item>

    <ion-item class="item-input item-select" ng-if="isModifyFlag">
      <span class="input-label">修改机位号为：</span>
      <select ng-model="task.assignDeviceNoId" ng-options="machineId.positionId as machineId.positionName+'#' for machineId in machineIds">
        <!--<option>{{task.assignDeviceNoId}}</option>-->
      </select>
    </ion-item>
    <!--<div class="item item-divider item-icon-right" ng-click="selectPeople()" >
      <span class="name">人员：<span class="content">{{tempOwner}}</span></span>
      <i class="icon ion-ios-arrow-right right-parent"></i>
    </div>
    <div class="item item-divider item-icon-right" ng-click="selectMachineId()" >
      <span class="name">机位号：<span class="content">{{tempMachineId}}</span></span>
      <i class="icon ion-ios-arrow-right right-parent"></i>
    </div>-->
	</ion-content>
  <ion-footer-bar>
    <button class=" button button-eambule-block"  ng-click="submitAssign(task)">确定分派</button>
    <!--ng-if="isAssignFlag()"-->
    <!--<button class=" button button-eambule-block" ng-if="isModifyFlag()" ng-click="submitAssign(task)">确定修改</button>-->
  </ion-footer-bar>
</ion-view>
