<ion-view title="物料列表">
  <ion-nav-buttons side="right">
    <div class="query" ng-click="openStandardMaterialFilter();">
      <i class="ion-funnel" style="margin-right: 5px;"></i>筛选
    </div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <ion-refresher on-refresh="refreshMaterialData()" pulling-text="下拉刷新"></ion-refresher>
    <ion-list class="data-list">
      <div class="item item-icon-right" ng-click="selectMaterial(material)" ng-repeat="material in materials">
        <div class="title">物料编号:
          <span ng-bind="material.materialSno"></span>
          <!--<span ng-if="!data.queryMaterialKeyWord || data.filterFlag==false">{{material.materialSno }}</span>-->
          <!--<span ng-if="data.queryMaterialKeyWord && data.filterFlag==true" show-colored-query-words="{{material.materialSno}}"></span>-->
          <br/>
        </div>
        <div style="word-wrap:break-word;word-break:break-all;width: 100%;line-height: 24px">
          <span class="name">物料描述：
                 <span style="text-indent: 2em" class="content item-text-wrap" ng-bind="material.materialName"></span>
              <br/>
          </span>
          <!--<span class="name">物料描述：</span>-->
          <!--<span show-colored-query-words="{{material.materialName}}"-->
                <!--ng-if="data.queryMaterialKeyWord" style="white-space: normal;">{{material.materialName}}</span>-->
          <!--<span ng-if="!data.queryMaterialKeyWord || data.filterFlag==false "  class="content"-->
                <!--style="white-space: normal;" ng-bind="material.materialName"></span>-->
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreMaterialsData()" ng-if="isMoreData" distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
